
.content{
  grid-area: c;
  background-color: darkgreen;
}

.post {
  margin-top:10px;
}

.middle{
  padding-left: 10px;
}

.middle h1{
  text-align: center;
}

.forma{
  width: 500px;
  margin-left: 25%;
}
.main {
  border: 1px black solid;
  display: flex;
  flex-flow: column;
  margin: 10px;
  box-shadow: 4px 7px 10px;
}


.title {
  font-family: monospace;
  font-size: 15px;
  padding-left: 10px;
  display: flex;
  flex-flow: row;
}

.title img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-top: 5px;
}

.user {
  margin-left: 1%;
  padding-top: 1%;
}

.comment {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.postContent h1{
  display: flex;
  justify-content: center;
}

.postContent{
  word-wrap: break-word;
  width: 1000px;
}