
.title {
  font-family: monospace;
  font-size: 15px;
  padding-left: 10px;
  display: flex;
  flex-flow: row;
}

.title img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-top: 5px;
}

.main {
  border: 1px black solid;
  display: flex;
  flex-flow: column;
  margin: 10px;
  box-shadow: 4px 7px 10px;
}

.user {
  margin-left: 1%;
  padding-top: 1%;
}

.comment {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}