.nav {
  grid-area: n;
  background-color: darkgray;
}

.item{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin-left:25%;
  margin-top:5%;
}

.item a {
  color: black;
  text-decoration-line: none;
}

.item a.active {
  color : white;
}