
.content{
  grid-area: c;
  background-color: darkgreen;
}

.post {
  margin-top:10px;
}

.middle{
  padding-left: 10px;
}

.middle h1{
  text-align: center;
}

.forma{
  width: 500px;
  margin-left: 25%;
}

